.projects-section {
  background: linear-gradient(180deg, #320665, #4F068B);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-section h1 {
  font-size: 2.5rem;
}

.projImage {
  height: 200px;
  width: 360px;
  object-fit: cover;
  background-color: black;
}

.experienceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
}