.hero-section {
  background: linear-gradient(180deg, #000,  #1f1b3f, #4b0082);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}