.hero-section {
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  padding: 2rem 0;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 800px) {
  .flexRowChange {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
@media only screen and (min-width: 800px) {
  .flexRowChange {
    display: flex;
    flex-direction: row;
  }
}

.hero-section h2 {
  @media only screen and (max-width: 600px) {
    text-align: center;
  }
}

.hero-section .widthBig {
  border: none;
  padding: 1rem 0;
  width: 100%;
}

.hero-section h1,
.hero-section p {
  border: none;
  padding: 0.5rem 0;
  margin: 0.75rem 0;
}

.hero-img {
  height: 500px;
  width: 500px;
}

@media only screen and (max-width: 800px) {
  .hero-img {
    height: 250px;
    width: 250px;
  }
}

.gapChange {
  gap: 0;

  @media only screen and (max-width: 800px) {
    gap: 0;
    justify-content: space-between;
  }
}

.gapChangeSmall {
  gap: 1rem;
  padding-left: 1rem;

  @media only screen and (max-width: 800px) {
    gap: 1rem;
    padding-left: 1rem;
  }
  @media only screen and (max-width: 500px) {
    gap: 0.75rem;
    padding-left: 0.75rem;
  }
}