.clickMe {
  position: absolute;
  height: 50px;
  width: 75px;
  background-color: rgba(0, 0, 0, 0.763);
  z-index: 5;
  color: white;
  top: 0;
  left: 0;
  transform: rotate(-29deg);
  font-family: "Outfit", sans-serif;
}

.vinyl-player {
  position: relative;
  width: 100px;
  margin: auto;
  cursor: pointer;
  align-self: flex-start;
  transform: rotate(9deg);
}

.vinyl-player-big {
  position: relative;
  width: 230px;
  cursor: pointer;
  transform: rotate(29deg);
}

.vinyl, .vinyl-big {
  width: 70px;
  height: 70px;
  background: radial-gradient(circle, #000 60%, #282828 90%);
  border-radius: 50%;
  border: 1px solid #282828;
  position: relative;
  overflow: hidden; /* makes sure shine stays in the vinyl */
}

.vinyl-big {
  width: 200px;
  height: 200px;
}

.vinyl::before, .vinyl-big::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* keeps center circle above the shine */
}

.vinyl-big::before {
  width: 32px;
  height: 32px;
}

.vinyl::after, .vinyl-big::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(0, 0, 0, 0.2) 100%
  ); */
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)) 
    no-repeat 0 0, 
    linear-gradient(to bottom left, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.05), rgba(0, 0, 0, 0.7)) 
    no-repeat 0 0;
  border-radius: 50%;
  top: 0;
  left: 0;
  z-index: 1; /* behind the center circle but above the vinyl */
}

.vinyl.spinning::after, .vinyl-big.spinning::after {
  animation: shine-spin 3s linear infinite;
}

@keyframes shine-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.tonearm, .tonearm-big {
  z-index: 3;
  width: 40px;
  height: 6px;
  background-color: #626262;
  position: absolute;
  top: 5%;
  right: -25px;
  border-radius: 5px;
  transform-origin: top left;
  transform: rotate(80deg);
  transition: transform 0.3s ease;
}

.tonearm-big {
  width: 100px;
  height: 8px;
  right: -55px;
  top: 0;
  transform: rotate(60deg);
}

.tonearm::before, .tonearm-big::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #787878;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -6px;
}

.tonearm-big::before {
  width: 16px;
  height: 16px;
  top: -4px;
}

.tonearm.playing {
  transform: rotate(120deg);
}

.tonearm-big.playing {
  transform: rotate(100deg);
}