.listening-section {
  background: linear-gradient(180deg, var(--purple-color-light), var(--purple-color-lightest));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding-bottom: 6rem;
}

.listening-card-wrapper {
  padding: 2rem;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 ); 
  
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}


.listening-card {
  padding: 3rem;
  border: 1px solid rgba( 255, 255, 255, 0.36 );
  justify-content: space-around;

  @media only screen and (max-width: 600px) {
    padding: 2rem;
  }
}

.listening-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  @media only screen and (max-width: 600px) {
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}

.listening-section h4 {
  margin-top: 2rem;
  font-weight: 400;
  text-align: center;
}

.listening-section p {
  margin-top: 1rem;
  font-weight: 300;
  text-align: center;
}

.noot {
  position: absolute;
  font-size: 2rem;
  color: #ffd7fc;
  display: none;
}

.noot.playing {
  display: block;
  animation: notes 3s infinite linear;
}

.noot-1 {
  top: 40%;
  left: 85%;
  animation-delay: 1.5s;
}

.noot-2 {
  top: 25%;
  left: 50%;
  animation-delay: 0.8s;
}

.noot-3 {
  top: 50%;
  left: 30%;
  animation-delay: 0.5s;
}

.noot-4 {
  top: 80%;
  left: 10%;
  animation-delay: 1.5s;
}

.noot-5 {
  top: 15%;
  left: 75%;
  animation-delay: 0.3s;
}

.noot-6 {
  top: 35%;
  left: 10%;
  animation-delay: 0.7s;
}

.noot-7 {
  top: 60%;
  left: 40%;
  animation-delay: 1.2s;
}

.noot-8 {
  top: 80%;
  left: 65%;
  animation-delay: 0.6s;
}

.noot-9 {
  top: 20%;
  left: 5%;
  animation-delay: 1.8s;
}

.noot-10 {
  top: 40%;
  left: 55%;
  animation-delay: 1.1s;
}

@keyframes notes {
  0% {
    transform: scale(1) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: scale(1.5) translate(50%, -50%);
  }
  80% {
    opacity: 0;
    transform: scale(1.5) translate(100%, -100%);
  }
  100% {
    transform: scale(1.5) translate(100%, -100%);
    opacity: 0;
  }
}