.listening-section {
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  padding-bottom: 2.5rem;
  border: none;
  border-bottom: 1px solid var(--primary-border-color);
}

.listening-card-wrapper {
  background: #ffffff;
  width: 100%;
  max-width: 100%;
  break-inside: avoid;
  display: flex;
  justify-content: center;
  
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}


.listening-card {
  padding: 0;
  border: none;
  justify-content: flex-start;
  padding: 1.5rem;
  padding-top: 2rem;
  border: 1px solid var(--primary-border-color);

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

.listening-section h2 {
  text-align: center;
  margin: 0;
  border: none;
  border-bottom: none !important;
  padding: 1rem 0;
  width: 100%;
  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 0.75rem 0;
  }
}

.listening-section h4 {
  margin: 0.75rem 0;
  font-weight: 400;
  text-align: center;
  border: none;
  padding: 0.5rem 0;
}

.listening-section p {
  margin: 0.5rem 0;
  font-weight: 300;
  text-align: center;
  border: none;
  padding: 0.25rem 0;
}

.noot {
  position: absolute;
  font-size: 2rem;
  color: #161616;
  display: none;
}

.noot.playing {
  display: block;
}

.noot-1 {
  top: 40%;
  left: 85%;
  animation-delay: 1.5s;
}

.noot-2 {
  top: 25%;
  left: 50%;
  animation-delay: 0.8s;
}

.noot-3 {
  top: 50%;
  left: 30%;
  animation-delay: 0.5s;
}

.noot-4 {
  top: 80%;
  left: 10%;
  animation-delay: 1.5s;
}

.noot-5 {
  top: 15%;
  left: 75%;
  animation-delay: 0.3s;
}

.noot-6 {
  top: 35%;
  left: 10%;
  animation-delay: 0.7s;
}

.noot-7 {
  top: 60%;
  left: 40%;
  animation-delay: 1.2s;
}

.noot-8 {
  top: 80%;
  left: 65%;
  animation-delay: 0.6s;
}

.noot-9 {
  top: 20%;
  left: 5%;
  animation-delay: 1.8s;
}

.noot-10 {
  top: 40%;
  left: 55%;
  animation-delay: 1.1s;
}
