* {
  margin: 0;
  font-family: system-ui, sans-serif, Helvetica, Arial, sans-serif;
  color: white;
}

.home {
  background: linear-gradient(180deg, #8a2be2, #4b0082, #1f1b3f);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  width: 80%;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
