:root{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-background-color: #ffffff;
  --secondary-background-color: #161616;
  
  --primary-text-color: #161616;
  --secondary-text-color: #161616;

  --primary-border-color: #161616;

  --button-solid-background-color: #161616;
  --button-solid-text-color: #f7f7f7;

  --button-outlined-background-color: transparent;
  --button-outlined-text-color: #161616;

  --link-color: #161616;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

html {
  background-color: #ffffff;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.resume h2 {
  margin-top: 2rem;
}
.resume h3 {
  margin: 1rem 0 0.5rem 0;
}

.widthBig {
  @media only screen and (max-width: 600px) {
    width: 80%;
  }
  @media only screen and (min-width: 600px) {
    width: 500px;
  }
  @media only screen and (min-width: 900px) {
    width: 600px;
  }
  @media only screen and (min-width: 1100px) {
    width: 700px;
  }
}


.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.alignTop {
  align-items: flex-start;
}

.pad2 {
  padding: 2rem;
}

.nobold {
  font-weight: 400;
}

#app {
  height: 100%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  max-width: 8.5in;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  text-transform: lowercase;
}

#app svg {
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
}

.normal-layout {
  width: 100%;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.noLink {
  color: #161616;
  text-decoration: none;
  :hover {
    cursor: pointer;
  }
}

h1 {
  font-family: "Outfit", serif;
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--primary-text-color);
  text-transform: lowercase;
  letter-spacing: normal;
  break-inside: avoid;
  padding: 0.5rem 0;
  margin: 1rem 0;
}

h2 {
  font-family: "Outfit", serif;
  font-size: 2rem;
  font-weight: 400;
  color: var(--primary-text-color);
  text-align: left;
  text-transform: lowercase;
  letter-spacing: normal;
  padding: 1rem 0 0.75rem 0;
  margin: 1.5rem 0 1rem 0;
  break-inside: avoid;
}

h3 {
  font-family: "Outfit", serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text-color);
  border-bottom: 1px solid #161616;
  padding: 0.75rem 0;
  margin: 1rem 0;
}

h4 {
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  color: var(--primary-text-color);
  border-bottom: 1px solid #161616;
  padding: 0.75rem 0;
  margin: 1rem 0;
}

h5 {
  font-family: "Outfit", serif;
  font-size: 1.5rem;
  color: var(--primary-text-color);
  border-bottom: 1px solid #161616;
  padding: 0.75rem 0;
  margin: 1rem 0;
}

h6 {
  font-family: "Outfit", serif;
  font-size: 1.25rem;
  color: var(--primary-text-color);
  border-bottom: 1px solid #161616;
  padding: 0.75rem 0;
  margin: 1rem 0;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 1.2rem;
  color: var(--primary-text-color);
  padding: 0.25rem 0;
  margin: 0.5rem 0;
}

ul {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  color: var(--primary-text-color);
  padding: 0.5rem 0;
  margin: 0.75rem 0;
}

p.small {
  font-size: 1rem;
  font-family: "Outfit", sans-serif;
  color: var(--primary-text-color);
}

p.extraSmall {
  font-size: 0.8rem;
  font-family: "Outfit", sans-serif;
  color: var(--primary-text-color);
}

p.medium {
  font-size: 1.4rem;
  font-family: "Outfit", sans-serif;
  color: var(--primary-text-color);
}

p.large {
  font-size: 1.6rem;
  font-family: "Outfit", sans-serif;
  color: var(--primary-text-color);
}

@media only screen and (max-width: 900px) {
  h1 {
    font-size: 2.5rem; 
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  p {
    font-size: 1rem;
  }

  ul {
    font-size: 0.8rem;
  }

  p.small {
    font-size: 0.8rem;
  }

  p.extraSmall {
    font-size: 0.65rem;
  }

  p.medium {
    font-size: 1.2rem;
  }

  p.large {
    font-size: 1.4rem;
  }
}

*[class*="section"] {
  padding: 2rem 0;
  margin-bottom: 0;
  border-bottom: 1px solid #161616 !important;
  padding-bottom: 2.5rem;
  margin-bottom: 2.5rem;
}

.italic {
  font-style: italic;
}

.normal-italic {
  font-style: normal;
}