:root{
  font-family: "Host Grotesk", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-background-color: #fff;
  --secondary-background-color:#f7f7f7;
  
  --primary-text-color:#000;
  --secondary-text-color:#4b4c53;

  --primary-border-color:#4b4c53;

  --button-solid-background-color:#000;
  --button-solid-text-color:#fff;

  --button-outlined-background-color:transparent;
  --button-outlined-text-color:#000;

  --alert-color:#FFF9E7;
  --alert-border-color:#FFBF00;
  --alert-text-color:#b8952f;

  --link-color: #1a8dff;
}

[data-theme="dark"]{
  --primary-text-color: #fff;
  --secondary-text-color:#f7f7f7;
  
  --primary-background-color:#000;
  --secondary-background-color:#4b4c53;

  --primary-border-color:#4b4c53;

  --button-solid-background-color:#fff;
  --button-solid-text-color:#000;

  --button-outlined-background-color:transparent;
  --button-outlined-text-color:#fff;
}

* {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.resume h2 {
  margin-top: 2rem;
}
.resume h3 {
  margin: 1rem 0 0.5rem 0;
}

.maxWidth {
  max-width: 800px;
}

.widthBig {
  width: 1000px;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.justifySpaceBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.pad2 {
  padding: 2rem;
}

.nobold {
  font-weight: 400;
}

#app {
  height: 100%;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  transition: background-color 0.5s ease, color 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--link-color);
}

.noLink {
  color: white;
  text-decoration: none;
  :hover {
    cursor: pointer;
  }
}

.scrollSnap {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scrollSnap .snapDiv {
  scroll-snap-align: start;
  height: 100vh;
  width: 100%;
}
