.navbar {
  position: sticky;
  top: 0;
  padding: 1.5rem 0;
  background-color: #ffffff;
  border-bottom: 2px solid var(--primary-border-color);
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.profile-part {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.nav-links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.nav-link {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 1.2rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
}

.nav-link span {
  position: absolute;
  bottom: -10px;
  color: var(--primary-text-color);
  font-size: 0.8rem;
  opacity: 0;
  white-space: nowrap;
  font-family: "Outfit", sans-serif;
  pointer-events: none;
}

.nav-link:hover span {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .navbar {
    margin-top: 1rem;
  }
  
  .nav-links {
    gap: 1rem;
  }
  
  .nav-link {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 500px) {
  .displayNone {
    display: none;
  }
}